{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/f4bf72d695.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <title> {% block title %} {% endblock %} </title>
</head>

<header>
    <div class="container-header">
        <div class="logo">
            <a href="/"><img src="{% static 'media/logo.png' %}" alt=""></a>
        </div>
        <div class="wrap">
            <form action="{% url 'buscar' %}" method="get">
            <div class="search">
                <input type="search" name= 'q' class="searchTerm" placeholder="Que estas buscando?" required>
                <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
            </div>
        </div>
        </form>
        {% if user.is_authenticated %}
                <a href="{% url 'carro:carro' %}"><i class="fa-solid fa-cart-shopping"></i></a>
                <div class="auth">
                    <a href="{% url 'clients:logout' %}"><button class="reg">Cerrar Sesion</button></a> 
                </div>
                
                {% else %}
                <div class="auth">
                    <a href="{% url 'clients:create' %}"><button type="submit" class="log">Registro</button></a>
                    <a href="{% url 'clients:login' %}"><button class="reg">Login</button></a> 
                </div>
                
        {% endif %}
    </div>
    <div class="nav">
        <div class="navbar">
            <ul class="nav__list">
                <li class="list__item"><a href="{% url 'lista_productos' %}">Productos</a></li>
                <li class="list__item"><a href="#">Sobre Nosotros</a></li>
                <li class="list__item"><a href="#">Contacto</a></li>
                <li class="list__item"><a href="{% url 'categoria' %}">Categorias</a></li>
            </ul>
        </div>
    </div>
</header>
<body>
    <div class="desktop">
        {% block content %}
        {% endblock %} 
    </div>    
</body>

<footer>
    <div class="sponsors">
        <div class="container-sponsors">
            <div class="sponsor">
                <a href="#"><img src="{% static 'media/sponsors/amd.png' %}" alt=""></a>
            </div>
            <div class="sponsor">
                <a href="#"><img src="{% static 'media/sponsors/ASRock.png' %}" alt=""></a>
            </div>
            <div class="sponsor">
                <a href="#"><img src="{% static 'media/sponsors/Gigabyte.png' %}" alt=""></a>
            </div>
            <div class="sponsor">
                <a href="#"><img src="{% static 'media/sponsors/intel.png' %}" alt=""></a>
            </div>
            <div class="sponsor">
                <a href="#"><img src="{% static 'media/sponsors/Samsung.png' %}" alt=""></a>
            </div>
            <div class="sponsor">
                <a href="#"><img src="{% static 'media/sponsors/Steelseries.png' %}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-logo">
            <a href="/"><img src="{% static 'media/logo.png'%} " alt=""></a>
        </div>
        <div class="footer-text">
            <p>© 2020 - Todos los derechos reservados</p>
        </div>
        <div class="footer-social">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
        </div>
        <div class="footer_work-withus">
            <button href="#">¡Trabaja con nosotros!</button>
        </div>
    </div>
</footer>
</html>