{% extends 'productos/base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
    <h1>Carro de compras</h1>
        <div class="cart">
    
        {% for producto_id, producto in productos_en_carro %}
        <div class="card-cart">
            <div class="card-image">
                <img src="{{producto.imagen}}" alt="{{producto.nombre}}">
            </div>
            <a href="{% url 'producto_detail' producto_id %}"><div class="cart-info">
                <div class="cart-name">
                    <h3>{{producto.nombre}}</h3>
                </div>
                <div class="cart-price">
                    <p>Unidad ${{producto.precio}}</p>
                    </div>
                <div class="cart-quantity">
                    <h2>Cantidad = {{producto.cantidad}}</h2>
                </div>
            </div></a>
            <div class="cart-buttons">
                <a href="{% url 'carro:agregar' producto_id %}"><i class="fa-solid fa-plus"></i></a>
                <a href="{% url 'carro:restar' producto_id %}"><i class="fa-solid fa-trash"></i></a>
                <h3>Precio total = ${{producto.total_unit}}</h3>
                
            </div>
        </div>
            <div class="cart-total">
                <p>Total {{importe_total_carro}}</p>

            <div class="not-cart">
                <div class="not-cart-text">
                    <p>No hay nada en tu carrito, ve a elegir tu producto! </p>
                </div>

            </div>
            {% endfor %}
{% else %}
<h1>Debes estar logueado para ver tu carrito</h1>
{% endif %}
        
    

{% endblock %}