{% extends "productos/base.html"%}
{% load static %}
{% block title %} {{producto.nombre}}  {% endblock title %}

{% block content %}

    <div class="container__product--info">
        <div class="slider__container-product">
            <!-- Vista principal de Producto seleccionado -->
            <div class="main_view">
                <img src="{{ producto.imagen1.url }}" id="main" alt="{{ producto.nombre }} Imagen 1 ">
            </div>
    
            <!-- Todas las imagenes cargadas (max 4) -->
            <div class="side_view">
                <img src="{{ producto.imagen1.url }}" onclick="change(this.src)">
                <img src="{{ producto.imagen2.url }}" onclick="change(this.src)">
                {% if producto.imagen3 %}
                    <img src="{{ producto.imagen3.url }}" onclick="change(this.src)">
                    {% if producto.imagen4 %}
                        <img src="{{ producto.imagen4.url }}" onclick="change(this.src)">
                    {% endif %}
                {% endif %}
            </div>

        </div>
        <div class="product-details">
            <h2>{{ producto.nombre }}</h2><hr>
            <h3> $ {{producto.precio}} </h3><hr>
            <h4>Hasta en 12 cuotas</h4><hr>
            <div class="product-compra">
                <div class="product-add">
                    <div class="add">
                        <i class="fa-solid fa-truck fa-2xl"></i>
                        <h3>Envio Gratis</h3>
                    </div>
                    <div class="add">
                        <i class="fa-solid fa-shield-halved fa-2xl"></i>
                        <h3>Garantia por 12 meses </h3>
                    </div>
                    <div class="add">
                        <i class="fa-solid fa-check fa-2xl"></i>
                        <h3>En Stock</h3>
                    </div>
                </div>
                <hr>
                <button class="custom-btn btn-3"><span>Agregar al Carrito</span></button>
            </div>
        </div>
    </div>
    <div class="description-product">
        <h3>Descripcion</h3>
        <p>{{ producto.descripcion }}
    </div>
    

{% endblock content %}
